<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/webquest?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping class="br.ita.webquest.model.WebQuest"/>
    <mapping class="br.ita.webquest.model.Image"/>
    <mapping class="br.ita.webquest.model.Template"/>
    <mapping class="br.ita.webquest.model.User"/>
    <mapping class="br.ita.webquest.model.Phase"/>
    <mapping class="br.ita.webquest.model.Activity"/>
    <mapping class="br.ita.webquest.model.Actor"/>
    <mapping class="br.ita.webquest.model.Resource"/>
    <mapping class="br.ita.webquest.model.Qualifying"/>
    <mapping class="br.ita.webquest.model.Outcome"/>
    <mapping class="br.ita.webquest.model.Email"/>
    <mapping class="br.ita.webquest.model.Team"/>
    <mapping class="br.ita.webquest.model.Party"/>
    <mapping class="br.ita.webquest.model.PartyActivity"/>
    <mapping class="br.ita.webquest.model.PartyPhase"/>
  </session-factory>
</hibernate-configuration>
